.img {
  height: calc(100% - 10vh);
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: auto;
}

.container {
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fps {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

button {
  background-color: #222222;
  outline: none;
  border: 1px solid white;
  color: white;
  font-family: "Poiret One";
  font-size: 2rem;
  width: fit-content;
  box-sizing: border-box;
  padding: 0.5em;
}
